@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body
{
    background-color: #747474;
    color: #ffffff;

}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header
{
    font-family: 'Josefin Sans', sans-serif;
	font-size: 44px;
	font-weight: bold;
	color: white;
	padding: 25px 0 30px 25px;
	border-bottom: 1px solid #000000;
	border-radius: 5px 5px 0 0;
}


.main-page
{
    width: 360px;
    padding: 10% 0 0 ;
    margin: auto;
}


.form
{
    position: relative;
    z-index: 1;
    background: rgba(146, 146, 146, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;

}

form input{
	height: 50px;
	width: 90%;
	padding: 0 10px;
	border-radius: 3px;
	border: 1px solid silver;
	font-size: 18px;
	outline: none;
}

.form button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active
{
    background: #3b9e40;
}

.form .message
{
    margin: 15px 0 0;
}

.bc1
{
    padding: 5px;
    
}

form i
{
	position: absolute;
	font-size: 25px;
	color: grey;
	margin: 15px 0 0 -45px;
}

form i[class="fas fa-lock"]:hover
{
    cursor: pointer;
}
